/* estilos.css */
body {
    font-family: Arial, sans-serif;
    margin: 40px;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

h1, h2, h3 {
    color: #0055aa;
}

p {
    max-width: 700px;
}

/* Estilos generales */
.soldado {
    border: 2px dashed black;
  }
  
  .espaciado {
    letter-spacing: 2px;
  }
  
  .apoyo {
    text-align: center;
  }
  
  .nave {
    text-transform: uppercase;
  }
  
  /* Imperio */
  .imperio {
    background-color: red;
  }
  
  /* Rebeldes */
  .rebeldes {
    background-color: blue;
  }
  
  /* IDs */
  #vader {
    font-size: 1.5em;
  }
  
  #luke {
    font-style: italic;
  }
  
  /* Estilo para imágenes */
  li img {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 100%;
  }
  
