/* Estilo general de la página*/
body {
    font-family: Arial, sans-serif;
    margin: 40px;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

h1, h2, h3 {
    color: #0055aa;
}

p {
    max-width: 700px;
}

/* Estilos generales */
.soldado {
    border: 2px dashed black;
  }
  
  .espaciado {
    letter-spacing: 2px;
  }
  
  .apoyo {
    text-align: center;
  }
  
  .nave {
    text-transform: uppercase;
  }
  
  /* Imperio */
  .imperio {
    background-color: red;
  }
  
  /* Rebeldes */
  .rebeldes {
    background-color: blue;
  }
  
  /* IDs */
  #vader {
    font-size: 1.5em;
  }
  
  #luke {
    font-style: italic;
  }
  
  /* Estilo para imágenes */
  li img {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 100%;
  }

.contenedor {
    max-width: 800px; /* Ancho máximo para que no se estire todo */
    margin: 0 auto;   /* Centramos el contenido */
    padding: 20px;    /* Un poco de espacio interno */
    background-color: #ffffff; /* Opcional: un fondo blanco */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Opcional: una sombrita para que flote */
    border-radius: 8px; /* Bordes redondeados */
}

  
